* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.TitleHeader {
    text-align: center;
    border: 1px solid #000000;
    height: calc(10% - 2px);
    width: 650px;
    margin: 0 auto;
}

.conteiner {
    width: 650px;
    margin: 0 auto;
    background-color: #cccccc;
    height: 95vh;
}

.liststyle{
    font-size: 24px;
    color: #002fff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
}
